{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page--}}
{{!-- Feel free to remove this! --}}
{{!-- <h2>Routing</h2>
<div>
     {{#link-to 'about'}}About{{/link-to}}
     {{#link-to 'products'}}Products{{/link-to}}
     {{#link-to 'products.new'}}Products new{{/link-to}}
    {{#link-to 'index'}}Go to home{{/link-to}}
 </div>
 <hr> --}}

{{outlet}}